.DS_Store
**/.DS_Store
*/**/.DS_Store

.metadata/
com.laegler.fastbpmn/src-gen/

com.laegler.fastbpmn/xtend-gen/
com.laegler.fastbpmn.ui/src-gen/

com.laegler.fastbpmn/bin/
com.laegler.fastbpmn.examples/bin/
com.laegler.fastbpmn.tests/src-gen/
com.laegler.fastbpmn.tests/xtend-gen/
com.laegler.fastbpmn.tests/bin/
com.laegler.fastbpmn.ui/src-gen/
com.laegler.fastbpmn.ui/bin/
bpmn2/
